
#field{
    border: 1px solid rgb(68, 6, 240);
    background-color: rgba(147, 233, 255, 0.671);;
    position: absolute;
    /* width: 45em; 
    height: 30em;*/
    width: 70%; 
    height: 95%;
    /* margin: auto;
    margin-top: 2em; */
    top: 0px;
    left: 0px;
    cursor: copy;
    z-index: 1;
    box-shadow: 12px 12px 2px 1px rgba(1, 1, 107, 0.185);
    border-radius: 5px;
    

}

#fieldContainer{
    height: 100%;
    float: left;
    width: 70%;
    /* margin: 2px;
    padding: 5px; */
    align-content: center;
    

}

.city{
    width: 20px;
    height: 20px;
    background: rgb(0, 0, 0);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 5;
    text-align: center;
    color: rgb(255, 255, 255);
    /* left:725px;
    top: 66px; */
}


#cityStartSample{
    width: 15px;
    height: 15px;
    background: rgb(0, 134, 18);
    border-radius: 50%;
    float: right;
}
#cityEndSample{
    width: 15px;
    height: 15px;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    float: right;
}


#settingContainer{
    float: right;
    padding: 5px;
    width: 25%;
    height: 95%;
    border: 1px solid rgb(68, 6, 240);
    background-color: rgb(199, 227, 236);
    box-shadow: 12px 12px 2px 1px rgba(1, 1, 107, 0.185);
    border-radius: 5px;
    /* margin: auto; */
}

.container{
    height: 100%;
    /* border: 1px solid rgb(250, 10, 10); */
    /* padding: 0.1em; */
    
}

.line {
    height: 1px;
    background-color: rgb(245, 0, 0);
    transform-origin: left center;
    position: absolute;
    z-index: 1;
}
.settingInput{
    width: 50%;
}

#diplayCordinateDiv{
    color: rgb(7, 0, 66);
    border: 1px solid rgb(68, 6, 240);
    background-color: rgb(171, 233, 250);
    width: 4em;
}


#launchBt{
    background-color: rgb(0, 189, 16);
    border-radius: 4px;
}

#initBt{
    background-color: rgb(124, 213, 255);
    border-radius: 4px;
}

#infos{
    background-color: rgb(161, 225, 255);
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid black;
}